#products {
  @media only screen and (min-width: 600px) {
    margin: 50px 200px;
  }
  .card {
    border: 0px;
  }
  .productname {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    background-color: #9a3324;
    padding: 10px 20px;
    border-radius: 0.25rem;
    width: 100%;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .productname:hover {
    background-color: #f8b02d;
    color: rgb(48, 48, 48);
    padding: 10px 20px;
  }
  .pname {
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pprice {
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
